<app-men-bars-widget *ngIf="widget.componentId === 'men-bars'"></app-men-bars-widget>
<app-men-lines-widget *ngIf="widget.componentId === 'men-lines'"></app-men-lines-widget>
<app-women-bars-widget *ngIf="widget.componentId === 'women-bars'"></app-women-bars-widget>
<app-women-number-widget *ngIf="widget.componentId === 'women-number'"></app-women-number-widget>
<app-empty-widget *ngIf="!widget.componentId"></app-empty-widget>

<!-- <ng-container [ngSwitch]="widget.componentId">
    <app-men-bars-widget *ngSwitchCase="'men-bars'"></app-men-bars-widget>
    <app-men-lines-widget *ngSwitchCase="'men-lines'"></app-men-lines-widget>
    <app-women-bars-widget *ngSwitchCase="'women-bars'"></app-women-bars-widget>
    <app-women-number-widget *ngSwitchCase="'women-number'"></app-women-number-widget>
    <app-empty-widget *ngSwitchDefault></app-empty-widget>
</ng-container> -->
